.container{
    margin-top: 45px;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 15px;
}

.profile .user {
    display: flex;
    align-items: center;
}

.username h2{
    font-size: 0.9em;
    margin-bottom: 5px;
}

.username p{
    font-size: 12px;
    margin-top: 0px;
    color: grey;
}

.blue {
    font-size: 0.7em;
    color: rgb(0, 162, 255);
}

.middle-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle-line h3 {
    font-size: 0.85em;
    color: gray
}

.middle-line p {
    font-size: 13px;
    font-weight: 600;
}

.content {
    display: flex;
    justify-content: space-between;
}

.suggest-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggest-user img{
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 100%;
}

.suggest-username h2{
    font-size: 0.8em;
    margin-bottom: 5px;
}

.suggest-username p{
    font-size: 10px;
    margin-top: 0px;
    color: grey;
}